@import '../../style//style.module.scss';

.container {
    @include display-center (flex, space-around, center, column);
    height: 650px;

    .title {
        height: 20%;
        @include text-style(rgb(0, 0, 0), 70px, 900);
        @include display-center(flex, center, center, none);
        text-shadow: 10px 9px 6px rgb(64, 145, 114);
    }

    .section {
        height: 80%;
        @include display-center(flex, center, center, row);

        .imgdiv {
            width: 50%;
            height: 90%;
            @include display-center(flex, center, center, none);

            .img {
                width: 80%;
                height: 95%;
                border-radius: $border-radius-img;
            }
        }

        .anuthing {
            width: 50%;
            @include display-center(flex, center, center, column);

            .p {
                width: 80%;
                line-height: 28px;
                word-spacing: 7px;
                font-weight: 600;
                text-shadow: 1px 4px 9px rgb(67 137 128);
            }
        }
    }
}

@media screen and (max-width:1200px) {
    .container {
        .title {
            font-size: 50px;
        }

        .section {
            .imgdiv {
                width: 50%;
                @include display-center(flex, center, none, none);

                .img {
                    object-fit: cover;
                    width: 90%;
                    height: 95%;
                    border-radius: $border-radius-img;
                }
            }

            .anuthing {
                width: 50%;

                .p {
                    width: 90%;
                    word-spacing: 5px;
                    line-height: 22px;
                    font-size: 18px;
                }
            }
        }
    }

}

@media screen and (max-width: 750px) {
    .container {
        .section {
            .anuthing {
                width: 50%;

                .p {
                    width: 99%;
                    font-size: 15px;
                    line-height: 20px;

                }
            }

            .imgdiv {

                width: 50%;
                @include display-center(flex, center, center, none);

                .img {
                    height: 80%;
                }
            }

        }
    }
}

@media screen and (max-width: 550px) {

    .container {
        width: 100%;

        .section {
            .anuthing {

                .p {
                    font-size: 11px;
                }
            }
        }
    }
}