@import '../../style//style.module.scss';

.container {
    @include display-center (flex, space-around, center, column);
    height: 650px;

    .title {
        @include text-style(none, 50px, 800);
        height: 80px;
        @include display-center(flex, center, center, none);
    }

    .section {
        @include display-center(flex, center, center, row);

        .imgdiv {
            width: 50%;
            @include display-center(flex, center, none, none);

            .img {
                width: 500px;
                height: 450px;
                border-radius: $border-radius-img;
            }
        }

        .anuthing {
            width: 50%;
            @include display-center(flex, center, center, column);

            .p {
                width: 80%;
            }
        }
    }
}