@import '../../style//style.module.scss';

.container {
    @include display-center(flex, none, center, row);
    height: 650px;

    .anuthing {
        @include display-center(flex, space-evenly, end, column);
        width: 50%;
        height: 90%;
        @include text-style(rgb(255, 233, 159), none, bolder);

        .p {
            width: 94%;
            text-shadow: 10px 9px 6px #15183e;
            font-size: 55px;
            letter-spacing: 1px;
            line-height: 80px;
        }

        .pp {
            font-size: 20px;
            width: 94%;
            font-weight: 300;
            color: rgb(255, 196, 0);
            text-shadow: 4px 4px 3px rgb(8, 20, 88);

        }
    }

    .imgdiv {
        @include display-center(flex, center, center, none);
        width: 50%;
        height: 90%;

        .img {
            object-fit: cover;
            width: 80%;
            height: 95%;
            border-radius: $border-radius-img;
        }
    }
}

@media screen and (max-width:1200px) {
    .container {
        .anuthing {
            @include display-center(flex, space-evenly, center, none);
            width: 40%;

            .p {
                width: 94%;
                font-size: 40px;
                line-height: 60px;
            }

            .pp {
                font-size: 18px;
            }
        }

        .imgdiv {

            width: 60%;
            @include display-center(flex, center, center, none);
        }
    }
}

@media screen and (max-width: 750px) {
    .container {
        .anuthing {
            @include display-center(flex, space-evenly, center, none);
            width: 40%;

            .p {
                width: 85%;
                font-size: 22px;
                line-height: 32px;

            }

            .pp {
                width: 85%;
                font-size: 13px;
            }
        }

        .imgdiv {
            width: 60%;
            @include display-center(flex, center, center, none);

            .img {
                height: 80%;
            }
        }
    }
}