@import "../../style/style.module.scss";

.language {
    @include display-center(flex, space-around, center, column);
    height: 600px;

    .title {
        @include display-center(flex, center, center, none);
        font-size: $title-font-size;
    }

    .sections {
        @include display-center(flex, center, center, row);

        .menu {
            @include display-center(flex, center, start, none);
            width: 50%;
            height: 100%;

            .drop-menu {
                @include display-center(flex, center, center, column);
                width: 65%;

                .content {
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 1s, opacity 0.1s;
                }

                .contentOpen {
                    background-color: $background-drop_dawn;
                    max-height: 170px;
                    opacity: $opacity;
                    overflow-y: auto;
                }

                .button {
                    cursor: $cursor;
                    padding: $padding-button;
                    border: $border $border-color;
                    border-radius: $border-radius-button;
                    margin-bottom: $margin-bottom;
                }
            }
        }

        .imgdivs {
            @include display-center(flex, center, center, none);
            width: 50%;

            .img {
                width: 500px;
                height: 450px;
                border-radius: $border-radius-img;
            }
        }
    }
    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background: #233f93;
        border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #1c1f52;
        border-radius: 5px;
    }
}
