@import '../../style/style.module.scss';

.personal_card {
    @include display-center(flex, center, center, column);
    width: 180px;

    .card_info {
        @include display-center (flex, none, center, column);
        width: 100%;
        gap: 20px;

        .staff_img {
            width: 200px;
            height: 200px;
            border-radius: $border-radius-staffImg;
            object-fit: cover;
        }
    }
}

.slider-container {
    width: 100%;
    max-width: 1200px;
}