.nav-bar {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 23px;
    padding: 22px;
}

.conatiner {
    background: rgb(54, 38, 198);
    // background: linear-gradient(90deg, rgb(48, 32, 197) 24%, rgb(110, 103, 241) 63%);
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 10px 10px 10px 5px silver;
}