@import '../../style/style.module.scss';

.container {
    height: 500px;
    @include display-center(flex, none, center, column);

    .title-div {
        height: 30%;
        @include display-center(flex, space-around, center, column);

        .titleP {
            font-size: 25px;
        }
    }

    .container_div {
        height: 70%;
        @include display-center(flex, space-around, center, row);

        .img_div {
            @include display-center(flex, center, none, none);
            width: 50%;
            height: 100%;

            .img {
                width: 80%;
                height: 95%;
                object-fit: cover;
            }
        }

        .text_div {
            height: 90%;
            width: 50%;
            @include display-center(flex, space-around, none, column);


            .text-ol {
                @include display-center(flex, none, none, column);
                gap: 10px;
                font-size: 18px;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .container {
        .title-div {
            height: 20%;
        }

        .container_div {
            width: 100%;
            height: 80%;

            .img_div {
                width: 60%;
                display: flex;
                align-items: center;
                height: 100%;

                .img {
                    width: 80%;
                    height: 95%;
                }
            }

            .text_div {
                width: 40%;

                .text-ol {
                    font-size: 18px;
                }
            }
        }
    }
}

@media screen and (max-width: 780px) {
    .container {
        .title-div {
            height: 15%;
            font-size: 18px;

            .titleP {
                font-size: 18px;
            }
        }

        .container_div {
            width: 100%;
            height: 85%;

            .img_div {
                width: 60%;
                display: flex;
                align-items: center;
                height: 100%;

                .img {
                    width: 80%;
                    height: 90%;
                }
            }

            .text_div {
                width: 40%;

                .text-ol {
                    font-size: 14px;
                }
            }
        }
    }

}

@media screen and (max-width: 500px) {
    .container {
        .title-div {
            height: 10%;
            font-size: 15px;

            .titleP {
                font-size: 15px;
            }
        }

        .container_div {
            width: 100%;
            height: 90%;

            .img_div {
                width: 60%;
                display: flex;
                align-items: center;
                height: 100%;

                .img {
                    width: 80%;
                    height: 90%;
                }
            }

            .text_div {
                width: 40%;

                .text-ol {
                    font-size: 12px;
                }
            }
        }
    }

}